[Unit]
Description=Through the mighty tunnel of scone dwarf...
After=network.target

[Service]
WorkingDirectory=/home/minecraft
User=minecraft
Group=minecraft
Restart=always
ExecStart=/usr/bin/screen -DmS minecraft /home/minecraft/runServer.sh
ExecStop=/usr/bin/screen -X -S minecraft quit

[Install]
WantedBy=multi-user.target
